/ {
	chosen {
		zephyr,flash-controller = &w25q80dv0;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		flash1 = &w25q80dv0;
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_sck_p0_4 &spi0_miso_p0_2 &spi0_mosi_p0_3>;
	pinctrl-names = "default";
		
	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

	w25q80dv0: w25q80dv@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		has-dpd;
		t-enter-dpd = <30000>;
		t-exit-dpd = <30000>;

		size = <0x800000>;

		spi-max-frequency = <50000000>;

		jedec-id = [ef 40 14];
		status = "okay";
	};
};
