/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f411Xe.dtsi>
#include <st/f4/stm32f411r(c-e)tx-pinctrl.dtsi>
#include "arduino_r3_connector.dtsi" 
/* #include "st_morpho_connector.dtsi" */
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Multitech MTDOT SX1272";
	compatible = "st,stm32f411re-nucleo";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &m25p16;
	};

	leds: leds {
		compatible = "gpio-leds";
		green_led_2: led_2 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &green_led_2;
		sw0 = &user_button;
		lora0 = &lora;
		flash1 = &m25p16;
	};
};

&clk_lsi {
	status = "disabled";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(26)>; /* 26MHz clock */
	status = "okay";
};

&pll {
	div-m = <26>;
	mul-n = <200>;
	div-p = <2>;
	div-q = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(100)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c3 {
	pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pb4>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2s1 {
	pinctrl-0 = <&i2s1_ck_pa5 &i2s1_sd_pa7>;
	pinctrl-names = "default";
};

&spi2 {
	pinctrl-0 = <&spi2_nss_pb12 &spi2_sck_pb13
		     &spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	status = "okay";

	lora: spi2@0 {
		compatible = "semtech,sx1272";
		reg = <0x0>;
		spi-max-frequency = <DT_FREQ_M(1)>;

		reset-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;   /* A0 */

		dio-gpios = <&gpiob 5 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>,	   /* DIO0 is D2 */
		            <&gpiob 6 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>,	   /* DIO1 is D3 */
			    <&gpiob 7 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>,	   /* DIO2 is D4 */
			    <&gpiob 8 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>,    /* DIO3 is D5 */
				<&gpiob 9 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;	   /* DIO4 is D5 */

		power-amplifier-output = "pa-boost";
	};
};

&spi3 {
	pinctrl-0 = <&spi3_sck_pc10
		     &spi3_miso_pc11 &spi3_mosi_pc12>;
	pinctrl-names = "default";
	status = "okay";

	cs-gpios = <&gpioc 6 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>;

	m25p16: m25p16@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(26)>;

		size = <0x200000>;
		page-size = <256>;

		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
		has-lock = <0x06>;
		
		#wp-gpios = <&gpioc 8 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>;
		hold-gpios = <&gpioc 7 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>;

		jedec-id = [20 20 15];
		status = "okay";
	};
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};
