# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y

CONFIG_SPI=y
CONFIG_SPI_NOR=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_LORAWAN_SYSTEM_MAX_RX_ERROR=20
CONFIG_LORAWAN_SYSTEM_MIN_RX_SYMBOLS=6

CONFIG_RTC_CALIBRATION=y